<app-default-header></app-default-header>

<form cForm>
    <div class="mb-3">
      <label cLabel for="exampleFormControlInput1">Title</label>
      <input cFormControl
             id="exampleFormControlInput1"
             placeholder="name@example.com"
             type="email"
      />
    </div>
    <div class="mb-3">
      <label cLabel for="exampleFormControlTextarea1">Description </label>
      <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>

<app-default-footer></app-default-footer>