$font-family_1: Arial, sans-serif;
$background-color_1: #fff;
$background-color_2: #fff;
$background-color_3: #fff;
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
	border: 2px solid #e0e0e0;

    border-radius: 10px;
	background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 1200px; 
    width: 100%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	position: relative;
	
}
.user-info {
	display: flex;
	align-items: end;
	margin-bottom: 20px;
	img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
	}
	h2 {
		font-size: 20px;
		margin: 0;
	}
}
textarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	resize: none;
}
.post-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}
button {
	padding: 10px 15px;
	border: none;
	background-color: $background-color_3;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}

$background-color_1: #e0e0e0;

.tag-input-container {
	display: flex;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	flex-wrap: wrap;
}
.tag {
	display: flex;
	align-items: center;
	background-color: $background-color_1;
	border-radius: 15px;
	padding: 5px 10px;
	margin-right: 5px;
}
button {
	background: none;
	border: none;
	cursor: pointer;
	margin-left: 5px;
	font-size: 16px;
}
input {
	border: none;
	outline: none;
}
.blog-image img {
    width: 100%; /* you can adjust this */
    height: auto;
    border-radius: 5px; /* if you want rounded corners */
}




$color_1: white;
$color_2: black;
$background-color_1: #FFD700;
$background-color_2: white;
$background-color_3: #f7f7f7;

.dropdown-container {
	position: relative;
	display: inline-block;
}
.dropdown-toggle {
	background-color: $background-color_1;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	color: $color_1;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background-color: $background-color_2;
	width: 200px;
	z-index: 1;
	display: none;
	a {
		padding: 8px 16px;
		text-decoration: none;
		display: block;
		color: $color_2;
		&:hover {
			background-color: $background-color_3;
		}
	}
}
.dropdown-item {
	padding: 8px 16px;
}
hr {
	margin: 0;
}
