.programmes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* spacing between cards */
    padding: 16px;
  }
  
  .programme-card {
    width: 250px; /* adjust as needed */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .programme-card:hover {
    transform: translateY(-10px);
  }
  
  .programme-image {
    width: 250px;    /* Set the width you want here */
    height: 150px;   /* Set the height you want here */
    object-fit: cover; /* This ensures that the image covers the area without stretching */
}

  
  .programme-details {
    padding: 16px;
  }
  .programme-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn, .update-btn {
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #d9534f;
    color: #fff;
}

.update-btn {
    background-color: #0275d8;
    color: #fff;
}

.delete-btn:hover {
    background-color: #c9302c;
}

.update-btn:hover {
    background-color: #015c9a;
}
