.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Si vous voulez que votre formulaire occupe toute la hauteur de la fenêtre */
    background-color: #f6f6f6; /* Couleur d'arrière-plan pour la mise en évidence */
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.submit-button {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit-button:hover {
    background-color: #0056b3;
}
